div.gitDetail {
	margin-left: 2%;
	margin-bottom: 3%;
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
	display: flex;
	flex-direction: column;
}

.detail-box {
	display: flex;
	flex-wrap: wrap;
}

.detail-box span {
	padding: 3px 10px;
	border: 2px solid #c7e6fa;
	background-color: #beaedf;
	border-radius: 50px;
	font-size: 12px;
	font-weight: bolder;
	color: #292f36;
}

.seeMore {
	margin-bottom: 5%;
	width: 80%;
	height: 35px;
	background: hsl(245, 24%, 42%);
	color: #fff;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0 10px 10px hsl(225, 35%, 30%);
}